@import 'variables';
@import 'fonts';
.contact svg {
    width: 30px;
    height: 30px;
    color: $green;
}


.contact {
    margin-top: 20px;
    display: flex;
    max-width: 600px;
}


.contact span {
    display: block;
    font-family: $open-sans;
    font-weight: $bold;
    padding-left: 25px;
    font-size: 14px;
}

.contact span .direct-link {
font-family: $open-sans;
font-weight: $regular;
padding-left: 0;
color:$dark-gray;

}


.address {
    padding-top: 10px;
    padding-left: 25px;
    
}
