@import 'variables';
@import 'fonts';

.box>h2 {
    font-family: $open-sans;
    font-weight: $bold;
    color:$green;
    
}


.box>p {
    font-family: $open-sans;
    font-weight: $regular;
    color:$dark-gray;
    font-size: 14px;
    
}