@import 'variables';
@import 'fonts';

*{
  font-family: $open-sans;
}
.expertise {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
  }
  
  .experience-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .experience-date {
    flex: 1;
    
  }
  
  .experience-info {
    flex: 3;
    display: flex;
    flex-direction: column;
  }
  
  .experience-company {
    font-weight: $bold;
    margin-bottom: 20px;
  }
  
  .experience-job {
    
    font-weight: $bold;

  }
  
  .experience-description {
    margin-top: 10px;
  }
  