@import 'variables';
@import 'fonts';

.feedback-section {
    padding-left: 25px;

}

.feedback-card {

}

.info {
    display: flex;
    align-items: center;
    font-family: $open-sans;
    font-size: 12px
}

.feedbacker-image {
    width: 50px;
    height: 50px;
    
    
    object-fit: cover;
    border-radius: 50%;
      
    
}

.feedback-card p {
    font-family: $open-sans;
    display: inline-block;
    background-color: $light-gray;
    padding: 10px;
    color: $dark-gray;
    font-family: $open-sans;
    


}


.name {
    margin-left: 20px;
}

a {
    margin-left: 20px; 
    text-decoration: none;
    color: $green;
}
