@import 'fonts';

.cover {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-image {
      
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);

    &::before { // Create a pseudo-element for the transparent layer
        content: ""; // Required for pseudo-elements, but no content is needed
        position: absolute; // Position the layer absolutely within the container
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 23, 45, 0.6); // Set the color and transparency level
      }
    
    

  }
  


 



  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .logo {
    width: 150px;
    height: 150px;
    background-image: url(../images/profile.jpg);
    border-radius: 50%;
    filter: grayscale(100%);
        &:hover {
            filter: none;
        }
    border: #fff 3px solid;
  }


  
  h1 {
    font-size: 45px;
    margin-bottom: 16px;
    color: #fff;
    font-family: $open-sans;
    font-weight: $bold;

  }

  h2 {
    color:#fff;
    font-size: 25px;
    font-family: $open-sans;
    font-weight: $semibold;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px;
    color: #fff;
    // max-width: 500px;
    font-family: $open-sans;
    font-weight: $regular;
  }
  
  .button {
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 4px;
    background-color: #222935;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #26C17E;
    }
  }
  