@import 'variables';
@import 'fonts';

.about-text {
  padding-left: 20px;
  font-family: $open-sans;
  color: $dark-gray;
  display: inline-block;
}
ul {
  list-style-type:none;
}

i {
  color:#fff
}

.nav-links li a span {
  color: $middle-gray;
  font-family: $open-sans;
  font-weight: $regular;
  margin-left: 20px;
  


 
}

.nav-icon {
  color: $middle-gray;
  

}






.panel {
  display: grid;
  grid-template-columns: 250px 30px;
  transition: grid-template-columns 0.5s ease-in-out;
  z-index: 80;
  overflow-x: hidden;
}

.panel.closed {
  grid-template-columns: 0px 30px;
}

.nav-content {
  height: 100%;
  transition: transform 0.5s ease-in-out;
  overflow-x: hidden;
  background-color: $dark-gray;
  width: 250px;
}

.burger-button {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 20px;
  cursor: pointer;
  z-index: 5;
  background-color: $dark-gray;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 250px;
  
}

.burger-button.closed {
  position: fixed;
  top: 20px;
  z-index: 100;
  left: 0;
}

.main-page {
  flex-grow: 1;
  z-index: 1;
  margin-left: 200px; /* Added margin to accommodate the panel width */
}















.nav-content.hidden {
  display: none;
}





.burger-button span {
  display: block;
  width: 14px;
  height: 2px;
  background-color: #ffffff;
  margin-top:2px;
  margin-bottom: 2px;
  border-radius: 2px;
  

  

}

.go-back-button {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  display: block;
  width: 150px;
  margin: 0 50px 0 50px;
  font-family: $open-sans;
  font-weight: $regular;
  background: none;
  border:none;
  color: #fff;
  cursor: pointer;
  

}

.photo-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.profile-name {
  
  
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  display: block;
  margin-top: 20px;
  
  
}

.user-icon {
  
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(../images/profile.jpg);
  border-radius: 50%;
  border: #fff 2px solid;
  margin-top: 20px;
}
.navbar {
  height: 100%;
  position: fixed;
  width: 250px;
  overflow-x: hidden;
  
  
}

.navbar .nav-links {
  display: flex;
  flex-direction: column;
  margin-left: -25px
}








li>button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

li>button>span {
  color: $middle-gray;
  font-family: $open-sans;
  font-weight: $regular;
  margin-left: 20px;
}

li>button>svg {
  width: 30px;
  height: 30px;
}



.nav-links>li {
  padding-top: 20px;
  
}



.active {
  color:$green;
  font-weight: $semibold;
}
// @media (max-width: 600px) {
//   .navbar{
//     width: 54px;
//   }

  


//   .burger-button{
//     position: fixed;
//     top: 20px;
//     z-index: 100;
//     left: 54px;
//   }
// }


@media (max-width: 600px) {
  .navbar {
    width: 54px;
  }

  .burger-button {
    position: fixed;
    top: 20px;
    z-index: 100;
    left: 54px;
  }

  .panel,
  .nav-content {
    width: 54px; /* Adjusted width for smaller screens */
  }
  .nav-links {
    margin-top: 118px;
  }

  .panel.closed {
    grid-template-columns: 0px 54px;
  }

  .main-page {
    margin-left: 54px; /* Adjusted margin to accommodate the panel width */
  }

  .user-icon {
  
    
    width: 40px;
    height: 40px;
   
  }


  .photo-box span {
    display: none;
  }

  .nav-content span {
    display: none;
  }


  .go-back-button {
    display: block;
    position: fixed;
    border-radius: 5px ;
    left: 7px;

    width: 40px;
    height: 30px;
    
    margin: 0;
    

    background: $green;
    border:none;
    
    cursor: pointer;
    padding: 0;
    
  
  }

  .go-back-button span {
    display: none;
  }
}