@import 'variables';
@import 'fonts';

.portfolio {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.filter-tabs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.filter-tabs button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: $regular;
  font-family: $open-sans;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 10px;
}

.filter-tabs button.active {
  color: $green;
}

.project-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  width: 310px;
  height: 190px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover {
    .overlay {
      opacity: 0.5;
    }

    .project-info {
      opacity: 1;

      h3,
      p {
        display: block;
        z-index: 10;
      }
    }

    .project-info::before {
      opacity: 1;
    }
  }

  .project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    
    color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;

    h3,
    p {
      display: none;
    }
  }

  .project-info h3 {
    font-family: $open-sans;
    font-weight: $bold;
    color: $dark-gray;
  }

  .project-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}




.project-card:hover .overlay {
    opacity: 0.5;
  }