@import 'variables';
@import 'fonts';
.skills {
    margin-top: 20px;
    padding-left: 25px;
    max-width: 1200px;

  }
  
  .bar-chart {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
  }
  .bar :first-child {
    padding-left: 5px;
  }
  .level {
    height: 20px;
    margin-right: 10px;
  }
  
  .beginner {
    background-color: $green;
    width: 25%;
  }
  
  .proficient {
    background-color: $green;
    width: 50%;
  }
  
  .expert {
    background-color:$green;
    width: 75%;
  }
  
  .master {
    background-color: $green;
    width: 100%;
    
  }
  
  .skill-name {
    
    color: white;
    font-family: $open-sans;
    font-weight: $regular;
  }
  
  .breakpoints {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #999;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    
  }
  
  .line {
    height: 2px ;
    background-color: $middle-gray;
    
  }


  .skills>button {
    position: relative;
    background-color: $dark-gray;
    color:white ;
    border-radius: 5px;
    width: 138px;
    height: 40px;
    border: none;
    left: 90%;
    
  }



  .edit-form {
    border: 2px solid $green;
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: $open-sans;
    
    padding: 30px;
  }

  .edit-form>button {
    border: none;
    background-color: $dark-gray;
    color:white ;
    border-radius: 5px;
    width: 100px;
    height: 40px;
  }

  .form-field>input {
    width: 270px;
    height: 40px;
    margin-left: 50px;
    border-radius: 5px;
    border: 1px solid $dark-gray
  }
  

  .form-field {
    margin-bottom:25px;
  }

  .skill-error-message {
    color:red;
    position: relative;
    margin-top: 10px;
    font-family: $open-sans;
    font-size: small;

  }