@import 'variables';
@import 'fonts';

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  max-height: 80vh;
  background-color: rgba(255, 255, 255, 0.8);
}

.loading-icon {
  font-size: 24px;
  animation: spin 1s infinite linear;
  color:$green;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 30vh;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  position: relative;
}

.education-line {
  background-color: $green;
  width: 4px;
  height: 90%;
  position: absolute;
  left: 50px;
}

.timeline::-webkit-scrollbar {
  width: 6px;
}

.timeline::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.timeline::-webkit-scrollbar-track {
  background-color: transparent;
}

.timeline__event {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  font-family: $open-sans;
}

.timeline__date {
  flex: 0 0 100px;
  background-color: white;
  font-weight: $bold;
  padding: 15px;
  z-index: 5;
}

.timeline__content {
  margin-left: 20px;
  background-color: #EEEEEE;
  padding: 15px;
  min-width: 50vw;
}

.timeline__event-title {
  margin-top: 0;
}

.timeline__event-text {
  margin-bottom: 0;
}

.timeline__event-text {
  font-family: $open-sans;
  font-weight: $regular;
  color: $dark-gray;
  font-size: 14px;
}


.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  max-height: 80vh;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: $open-sans;
  font-weight: $bold;
  font-size: 16px;
  color: $dark-gray;
}